.m-admin-wrap .top{
	background:url("../../../../../res/images/admin-bg.png");
	background-position:left top;
	background-repeat:repeat-x;
	background-size:100% auto;
}
.m-admin-wrap .top .headimg{
	padding:37px 0px 10px 0px;
	text-align:center;
}
.m-admin-wrap .top .headimg img{
	width:80px;
	height:80px;
	border-radius:40px 40px;
}
.m-admin-wrap .top .name{
	font-size:16px;
	color:#fff;
	padding-bottom:30px;
}
.m-admin-wrap .list{
	margin:0px 12px;
}
.m-admin-wrap .list img{
	width:18px;
	vertical-align:middle;
}