.m-menu-wrap{
	width:100%;
}
.m-menu-wrap .item{
	padding:4px 0px;
	text-align:center;
	margin:7px auto;
	display:inline;
	border:1px solid #67c2c6;
	line-height:24px;
	font-size:14px;
	width:100px;
	background:#fff;
	color:#67c2c6;
}
.m-menu-wrap .item.left{
	border-radius:5px 0px 0px 5px;
	float:right;
}
.m-menu-wrap .item.center{
	border-radius:0px 0px 0px 0px;
}
.m-menu-wrap .item.right{
	border-radius:0px 5px 5px 0px;
	float:left;
}
.m-menu-wrap .active .item{
	background:#67c2c6;
	color:#fff;
}