.m-commemt-wrap .title{
	padding:0px 12px;
	background:#fff;
}
.m-commemt-wrap .title img{
	width:20px;
	vertical-align:middle;
}
.m-commemt-wrap .title .text{
	font-size:16px;
	color:#999;
}
.m-commemt-wrap .send{
	position:fixed;
	bottom:0px;
	z-index:9;
	font-size:16px;
	width:100%;
	padding:12px 10px;
	background:#f0f0f2;
}
.m-commemt-wrap .send .botton-wrap{
	width:80px;
	margin:0px 20px;
}
.m-commemt-wrap .send .botton-wrap .button{
	text-align:center;
	padding:3px 5px;
	border-radius:30px 30px;
	color:#fff;
}
.m-commemt-wrap .send .botton-wrap .button.default{
	background:#ccc;
}
.m-commemt-wrap .send .botton-wrap .button.active{
	background:#67c2c6;
}
.m-commemt-wrap .send .input{
	padding:2px 5px;
	border-radius:30px 30px;
	width:100%;
	background:#fff;
	color:#666;
	font-size:16px;
}
.m-commemt-wrap .m-list-wrap{
	background:#fff;
	padding:0px 12px;
}
.m-commemt-wrap .m-list-wrap .list{
	width:100%;
}
.m-commemt-wrap .m-list-wrap .list .headimg{
	width:30px;
}
.m-commemt-wrap .m-list-wrap .list .headimg img{
	width:20px;
	height:20px;
	border-radius:10px 10px;
}
.m-commemt-wrap .m-list-wrap .list .center{
	padding:2px 2px;
}
.m-commemt-wrap .m-list-wrap .list .center .name{
	font-size:14px;
	color:#333;
	margin-bottom:5px;
	line-height:16px;
}
.m-commemt-wrap .m-list-wrap .list .center .time{
	font-size:13px;
	color:#999;
	margin:5px 0px;
}
.m-commemt-wrap .m-list-wrap .list .center .content{
	font-size:14px;
	color:#333;
	margin:5px 0px;
}